html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* MY STYLES */
.board {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  height: 30rem;
  width: 30rem;
  border: 2px solid grey;
  border-radius: 10px;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.5rem;
}

.letter {
  border: 1px solid grey;
  border-radius: 0px;
  align-self: stretch;
  justify-self: stretch;
}
