/* CSS RESET
CREDIT https://www.digitalocean.com/community/tutorials/css-minimal-css-reset */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/* prettier-ignore */
body, h1, h2, h3, h4,
h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* MY STYLES */

/* THEMES */
body {
  /* Colours */
  --rightLetterColor: #51a558;
  --kindaRightLetterColor: #dd8846;
  --wrongLetterColor: #8e8e8e;
  --guessedWordColour: white;
  --borderColor: black;
  --btnDarkColor: #322f7a;
  --btnLightColor: #7161b0;

  /* Fonts */
  --titleFont: "Bangers", cursive;
  --guessedWordFont: "Roboto Mono", monospace;
  --guessedWordFontSize: 3rem;
  /* STYLE */
  text-align: center;
}

/* LAYOUT */
h1 {
  font-family: var(--titleFont);
  font-size: 4rem;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.board {
  margin: 3rem auto;
  padding: 1rem;
  height: 30rem;
  width: 30rem;
  border: 2px solid var(--borderColor);
  border-radius: 10px;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 3rem;
}

.letter {
  border: 2px solid var(--borderColor);
  border-radius: 0px;
  align-self: stretch;
  justify-self: stretch;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);

  /* LETTER STYLES */
  color: var(--guessedWordColour);
  font-size: var(--guessedWordFontSize);
  font-family: var(--guessedWordFont);
}
.letter:hover {
  transform: scale(1.1);
}
.rightLetter {
  color: var(--rightLetterColor);
  font-weight: bold;
}

.kindaRightLetter {
  color: var(--kindaRightLetterColor);
}

.wrongLetter {
  color: var(--wrongLetterColor);
}

.guessedWord {
  font-family: var(--guessedWordFont);
  color: var(--guessedWordColour);
  font-size: var(--guessedWordFontSize);
}
.guessWordBtn {
  font-family: var(--guessedWordFont);
  letter-spacing: 0.3rem;
  /* Button style */
  border-width: 1px;
  color: var(--guessedWordColour);
  border-color: #7161b0;
  font-weight: bold;
  border-radius: 0.2rem;
  box-shadow: 0px 10px 14px -7px #5d3995;
  text-shadow: 0px 1px 0px #322f7a;
  background: linear-gradient(#7161b0, #322f7a);
}
.guessWordBtn:hover {
  background: linear-gradient(#322f7a, #7161b0);
}
.guessedWord {
  width: 15rem;
  height: 3.4rem;
  font-size: 2rem;
  font-family: var(--guessedWordFont);
}

/* USER INPUT FORM */
form {
  margin: 3rem auto;
  height: 3rem;
  width: 30rem;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0.7rem;
}

form input {
  align-self: stretch;
  justify-self: stretch;
  font-family: var(--guessedWordFont);
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0;
  text-align: center;
  border: 1px solid black;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

form button {
  align-self: stretch;
  justify-self: stretch;
}
